<figure align="center">
{{- $titles := split (.Get "title") "," -}}
{{- range $i, $name := split (.Get "name") "," -}}
  {{- with $.Page.Resources.GetMatch $name -}}
    {{- $title := cond (isset $titles $i) (index $titles $i) "" }}
    <picture onClick="javascript:window.open('{{ .RelPermalink }}');" style="cursor: pointer">
        <source media="(max-width: 480px)" srcset="{{ (.Resize "100x").RelPermalink }}">
        <source media="(max-width: 568px)" srcset="{{ (.Resize "140x").RelPermalink }}">
        <source media="(max-width: 734px)" srcset="{{ (.Resize "172x").RelPermalink }}">
        <source media="(max-width: 920px)" srcset="{{ (.Resize "228x").RelPermalink }}">
        <source media="(max-width: 1024px)" srcset="{{ (.Resize "178x").RelPermalink }}">
        <img src="{{ (.Resize "210x").RelPermalink }}" alt="{{ $title }}"/>
    </picture>
  {{- end -}}
{{- end -}}
{{- if isset .Params "caption" }}
    <figcaption><i>{{ .Get "caption" }}</i></figcaption>
{{- end }}
</figure>
